/* Style the tab content */
.tabcontent-2 {
  background-color: #fff;
  justify-content: center;
  align-items: center;
  display: flex;
  width: 100%;
  height: 100%;
  border-left: none;
  position: absolute;
}

/* Style the tab */
.tab {
  overflow: hidden;
  border: 1px solid #ccc;
  background-color: #f1f1f1;
}

.clustering-results {
  display: flex;
  justify-content: center;
  margin: 20px;
}

/* Style the buttons that are used to open the tab content */
.tab button {
  background-color: inherit;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  transition: 0.3s;
}

/* Change background color of buttons on hover */
.tab button:hover {
  background-color: #ddd;
}

/* Create an active/current tablink class */
.tab button.active {
  background-color: #ccc;
}

/* Style the tab content */
.tabcontent {
  display: none;
  padding: 1rem;
  border-top: none;
  overflow: visible;
  max-width: 150rem;
  margin: 0px auto;
}

.stats {
  padding: 6px 60px;
  align-content: center;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  overflow: visible;
}

 /* The Modal (background) */
 .modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  align-items: center;
  justify-content: center;
}

.modal-open {
  display: flex;
}

/* Modal Content/Box */
.modal-content {
  background-color: #fefefe;
  border: 1px solid #888;
  width: 90%;
  height: 90%;
  position: relative;
}

/* The Close Button */
.close {
  color: #aaa;
  position: absolute;
  font-size: 28px;
  font-weight: bold;
  top: 10px;
  right: 20px;
  z-index: 1;
}

.close:hover, .close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.loader {
  border: 16px solid #f3f3f3; /* Light grey */
  border-top: 16px solid #3498db; /* Blue */
  border-radius: 50%;
  position: relative;
  width: 120px;
  height: 120px;
  animation: spin 2s linear infinite;
  z-index: 1;
}

.collapsible {
  background-color: #777;
  color: white;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 15px;
}

.collapsible-active, .collapsible:hover {
  background-color: #555;
}

.collapsible:after {
  content: '\002B';
  color: white;
  font-weight: bold;
  float: right;
  margin-left: 5px;
}

.collapsible-active:after {
  content: "\2212";
}

.collapsible-content {
  max-height: 0;
  overflow-x: auto;
  overflow-y: hidden;
  transition: max-height 0.2s ease-out;
  background-color: #f1f1f1;
  align-content: center;
  align-items: center;
  display: flex;
  flex-direction: row;
}

.checkbox {
  display: block;
  width: 450px;
}

.feature-layout {
  display: flex;
  flex-wrap: wrap;
}

.btn-layout-ctr {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1rem;
}

.checkbox input {
  margin-right: 0.5rem;
}

.boxplot {
  position: relative;
}

.boxplot p {
  margin: 0 10px;
  position:absolute;
}

/* Evaluation Bar */
.evalcontent {
  background-color: #e95656;
}

.wrapper{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
}

.evalbar {
  display: flex;
  margin: 10px;
  justify-content: flex-end;
  align-items: baseline;
}

.evalbar span{
  position: absolute;
  left: 10px;
  padding-top: 5px;
}

.player-details {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

.player-details td {
  border: 1px solid black;
  text-align: left;
  padding: 8px;
}

/*.player-details tr:nth-child(even) {
  background-color: #dddddd;
} */

.player-details td:first-child {
  border-left: none;
}

#network-output {
  overflow-x: auto;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

/*
.clustering {
  display: flex;
}

.clustering-details {
  flex: 25%;
}
*/

.qtip {
  display: inline-block;
  position: relative;
  cursor: pointer;
  box-sizing: border-box;
  font-style: normal;
  transition:all .25s ease-in-out
}
.qtip:hover {color:#069;border-bottom:0.05em dotted #069}
/*the tip*/
.qtip:before {
  content: attr(data-tip);
  font-size: 12px;
  position: absolute;
  background: rgba(10, 20, 30, 0.85);
  color: #fff;
  line-height: 1.2em;
  padding: 0.5em;
  font-style: normal;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
  min-width: 20rem;
  text-align: center;
  opacity: 0;
  visibility: hidden;
  transition: all .3s ease-in-out;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
  font-family: sans-serif;
  letter-spacing: 0;
  font-weight: 600
}
.qtip:after {
  width: 0;
  height: 0;
  border-style: solid;
  content: '';
  position: absolute;
  opacity: 0;
  visibility: hidden;
  transition: all .3s ease-in-out
}
.qtip:hover:before,
.qtip:hover:after {
  visibility: visible;
  opacity: 1
}
/*top*/
.qtip.tip-top:before {
  top: 0;
  left: 50%;
  transform: translate(-50%, calc(-100% - 8px));
  box-sizing: border-box;
  border-radius: 3px;
}
.qtip.tip-top:after {
  border-width: 8px 8px 0 8px;
  border-color: rgba(10, 20, 30, 0.85) transparent transparent transparent;
  top: -8px;
  left: 50%;
  transform: translate(-50%, 0);
}
/*bottom*/
.qtip.tip-bottom:before {
  bottom: 0;
  left: 50%;
  transform: translate(-50%, calc(100% + 8px));
  box-sizing: border-box;
  border-radius: 3px;
}
.qtip.tip-bottom:after {
  border-width: 0 8px 8px 8px;
  border-color: transparent transparent rgba(10, 20, 30, 0.85) transparent;
  bottom: -8px;
  left: 50%;
  transform: translate(-50%, 0);
}
/*left*/
.qtip.tip-left:before {
  left: 0;
  top: 50%;
  transform: translate(calc(-100% - 8px), -50%);
  box-sizing: border-box;
  border-radius: 3px;
}
.qtip.tip-left:after {
  border-width: 8px 0 8px 8px;
  border-color: transparent transparent transparent rgba(10, 20, 30, 0.85);
  left: -8px;
  top: 50%;
  transform: translate(0, -50%);
}
/*right*/
.qtip.tip-right:before {
  right: 0;
  top: 50%;
  transform: translate(calc(100% + 8px), -50%);
  box-sizing: border-box;
  border-radius: 3px;
}
.qtip.tip-right:after {
  border-width: 8px 8px 8px 0;
  border-color: transparent rgba(10, 20, 30, 0.85) transparent transparent;
  right: -8px;
  top: 50%;
  transform: translate(0, -50%);
}

code {
  color: #3bb4e5;
  font-size: 0.8em;
  padding: 1em;
  background: rgb(10,20,30);
  display: block;
  text-align:left;
}

.qcontent {
  color: #ff0;
  font-weight: bold
}
.qclass {
  color: #dd0;
  font-weight: bold
}

.border-2 {
  border: 2px solid;
}

.padding-7 {
  padding: 7px;
}

.padding-4 {
  padding: 4px;
}