{% extends "base.html" %}
{% block title %}Cauldron | Clustering{% endblock %}
{% block css %}<link rel="stylesheet" href="{{ url_for('static', filename='css/clustering.css') }}" />{% endblock %}
{% block options %}onload="init()"{% endblock %}

{% block content %}
<section class="visualizations">
  <!-- Tab links -->
  <div class="tab">
    <button id="linkClustering" class="tablinks" onclick="openTab(event, 'clustering')">Cluster Data</button>
    <button id="linkPlayer" class="tablinks" onclick="openTab(event, 'playerDetails')">Player Details</button>
    <button id="linkStats" class="tablinks" onclick="openTab(event, 'statistics')">Overall Statistics</button>
  </div>

<!-- Network Modal -->
<div id="myModal" class="modal">

  <!-- Modal content -->
  <div class="modal-content">
    <span class="close" onclick="closeModal()">&times;</span>
    <div id="network-content" class="tabcontent-2">
    </div>
  </div>

</div>

      <div id="landingtab" class="tabcontent">
      Please click on a tab.
      </div>
      <!-- Tab content -->
      <div id="clustering" class="tabcontent">
      <div class="grid">
        <div class="clustering-details">
          <form id="clustering-features">
            <!-- label class="checkbox">
              <input type="checkbox" checked="checked">
              Summoner Level
            </label>
            <input type="checkbox" checked="checked" id="degree">
            <label for="degree">Ego Network Degree</label><p -->
            <label for="level">Summoner Level</label>
            <input type="checkbox" checked="checked" id="level"><p>
            <label for="degree">Ego Network Degree</label>
            <input type="checkbox" checked="checked" id="degree"><p>
            <label for="density">Ego Network Density</label>
            <input type="checkbox" checked="checked" id="density"><p>
            <label for="componentRatio">Ego Network Component Ratio</label>
            <input type="checkbox" checked="checked" id="componentRatio"><p>
            <label for="age">Age</label>
            <input type="checkbox" checked="checked" id="age"><p>
            <label for="panas">PANAS</label>
            <input type="checkbox" checked="checked" id="panas"><p>
            <label for="ach">ACH GOAL</label>
            <input type="checkbox" checked="checked" id="ach"><p>
            <label for="amo">AMO</label>
            <input type="checkbox" checked="checked" id="amo"><p>
            <label for="ext">EXT</label>
            <input type="checkbox" checked="checked" id="ext"><p>
            <label for="ide">IDE</label>
            <input type="checkbox" checked="checked" id="ide"><p>
            <label for="imo">IMO</label>
            <input type="checkbox" checked="checked" id="imo"><p>
            <label for="inj">INJ</label>
            <input type="checkbox" checked="checked" id="inj"><p>
            <label for="int">INT</label>
            <input type="checkbox" checked="checked" id="int"><p>
            <label for="passion">PASSION</label>
            <input type="checkbox" checked="checked" id="passion"><p>
            <label for="pens">PENS</label>
            <input type="checkbox" checked="checked" id="pens"><p>
            <label for="vitality">Vitality</label>
            <input type="checkbox" checked="checked" id="vitality"><p>
            <label for="preprocessing">Preprocessing:</label>
            <select id="preprocessing">
              <option value="standard">Standard Scaler</option>
              <option value="minmax">MinMax Scaler</option>
              <option value="none">None</option>
            </select><p>
            <input type="button" class="btn btn-primary" value="Elbow Plot" onclick="elbowPlot(true)"><p>
            <label for="kmk">K:</label>
            <input type="number" class="btn btn-primary" id="kmk" name="kmk" min="1">
            <input type="button" class="btn btn-primary" value="K-Means Clustering" onclick="scatterPlot('kmeans', true)"><p>
            <label for="dbe">ε:</label>
            <input type="number" class="btn btn-primary" id="dbe" name="dbe" min="1">
            <input type="button" class="btn btn-primary" value="DBSCAN Clustering" onclick="scatterPlot('dbscan', true)"><p>
          </form>
        </div>
        <div class="clustering-results" id="clustering-results">
        </div>
      </div>
      </div>

      <div id="playerDetails" class="tabcontent">
          <form class="flex">
            <select id="summonerid" class="btn btn-primary" onchange="showPlayer(true)">
            <option value="" disabled selected>Select ID</option>
            {% for id, puuid in egoids.items() %}
              <option value="{{id}}">{{id}} ({{idcount[puuid]}})</option>
            {% endfor %}
            </select>
          </form>
        <div id="network-output" class="flex">
            <p>Choose an ID to show player details.</p>
        </div>
        <div id="network-input" class="flex">
          <form>
            <input type="button" class="btn btn-primary" value="1 Level" onclick="drawNetwork('egonet', true)">
            <input type="button" class="btn btn-primary" value="2 Levels" onclick="drawNetwork('extended', true)">
            <input type="button" class="btn btn-primary" value="Components" onclick="drawNetwork('components', true)">
            <input type="button" class="btn btn-primary" value="Only Teammates" onclick="drawNetwork('team', true)">
            <input type="button" class="btn btn-primary" value="Only Opponents" onclick="drawNetwork('vs', true)">
          </form>
        </div>
      </div>

      <div id="statistics" class="tabcontent stats">
        <p><h3>Statistics</h3></p>
        {% for category in statfields %}
          {% if category != 'DEFAULT' and category != 'Player Details' %}
            <button class="collapsible">{{category}}</button>
            <div class="collapsible-content">
            {% for value, label in statfields[category].items() %}
              <div id="{{value}}" name="{{label}}" style="width:1000px;height:250px"></div>
            {% endfor %}
            </div>
          {% endif %}
        {% endfor %}
      </div>
</section>

<!-- section class="visualizations">
  <div class="container flex">
    <div class="tab">
      <button class="tablinks" onclick="openTab(event, 'playerDetails')">
        Player Details
      </button>
      <button class="tablinks" onclick="openTab(event, 'clustering')">
        Cluster Data
      </button>
      <button class="tablinks">Placeholder</button>
      <button class="tablinks">Placeholder</button>
      <button class="tablinks">Placeholder</button>
      <button class="tablinks">Placeholder</button>
      <button class="tablinks">Placeholder</button>
      <button class="tablinks">Placeholder</button>
      <button class="tablinks">Placeholder</button>
    </div>

    <div id="playerDetails">
      <div id="network-input" class="flex">
        <form>
          <label for="summonerid">Identifier:</label>
          <select id="summonerid">
            {% for ego, length in ids %}
            <option value="{{ego}}">{{ego}} ({{length}})</option>
            {% endfor %}
          </select>
          <input type="button" value="Go!" onclick="drawDemo(true)" />
        </form>
      </div>

      <div id="network-output" class="flex"></div>
      <div id="network-content" class="tabcontent">
        <p>Click on "Go!"to start demo.</p>
      </div>
    </div>
  </div>
</section -->
{% endblock %}

{% block scripts %}
<script type="text/javascript" src="{{ url_for('static', filename='networkUtilities.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='networkClustering.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='networkVisualization.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='networkPlots.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='networkPlayer.js') }}"></script>
<script src="https://unpkg.com/vis-network/standalone/umd/vis-network.min.js"></script>
<script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
{% endblock %}